# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Build artifacts
dist/
build/
*.egg-info/
*.egg

# Other
.DS_Store
*.log
*.pot
*.pytx
*.swp
.idea/
.vscode/
*.db
*.sqlite
*.sqlite3
/downloads
/node_modules
*.deb
*.rpm